.container {
  min-height: 100vh;

  .images {
    .slide {
      width: 100vw;
      height: 450px;
      position: relative;
      overflow: hidden;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translate(-50%, -50%);
    }
  }

  .content {
    width: 1030px;
    margin: auto;
    padding: 30px 0;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;

    .backButton {
      position: absolute;
      left: 250px;
    }

    .name {
      font-size: 34px;
      margin-bottom: 30px;
      font-weight: 400;
      line-height: 1.2;
    }

    .info {
      margin-bottom: 20px;
    }

    .description {
      margin-bottom: 30px;
    }

    .time {
      display: flex;
      flex-direction: row;
      gap: 120px;
      span {
        font-size: 1.35rem;
        letter-spacing: 1px;
      }
    }

    .services {
      .serviceRow {
        margin-bottom: 20px;
        .serviceItem {
          font-size: 15px;
          .itemContext {
            margin-left: 10px;
          }
        }
      }
    }

    .bookingForm {
      border: 1px solid #e4e4e4;
      padding: 20px;

      .personInBooking {
        .personCount {
          margin: 10px 0;
          .title {
            font-size: 17px;
            font-weight: 500;
            padding: 13px;
          }
        }
        .personForm {
          margin-bottom: 20px;
        }
      }
      .labelParent {
        padding: 0px 5px;
        margin-bottom: 5px;
        .label {
          font-size: 17px;
          font-weight: 500;
        }
      }

      .rangePicker {
        width: 100%;
      }

      .price {
        font-size: 1.5rem;
        text-align: center;
      }

      .totalPrice {
        margin-top: 40px;
        background-color: rgba(0,0,0,.1);
        padding: 9px 10px;
        border-radius: 4px;
        .total {
          font-weight: 600;
        }
      }

      .bookingBtn {
        width: 100%;
        border: 1px solid black;
        border-radius: 0;
        color: white;
        background-color: black;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.okButton {
  border: 1px solid black;
  color: white !important;
  background-color: black !important;
  &:hover {
    opacity: 0.8;
  }
}
