.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.37);
}

.container {
  position: fixed;
  top: 30px;
  right: 50px;
  z-index: 1000;

  .content {
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    overflow-y: hidden;
    transition-duration: 0.3s;    
    letter-spacing: 1px;

    .menu {
      display: flex;
      padding: 2px;
      background-color: black;
      color: white;
      border-radius: 50px;
      font-size: 1.1rem;
    }

    .item {
      display: flex;
      align-items: center;
      gap: 20px;
      background-color: black;
      border-radius: 50px;
      padding: 2px;
      padding-left: 12px;
      justify-content: right;
      font-size: 14px;

      .icon {
        width: 14px;
        height: 14px;
        line-height: 14px;
      }
    }

    .icon {
      text-align: center;
      width: 20px;
      height: 20px;
      line-height: 20px;
      vertical-align: middle;
      padding: 10px;
      border: 2px solid white;
      border-radius: 100%;
    }
  }
}
