.header {
  padding: 0;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      color: white;
      font-size: 24px;
      font-weight: 600;
      display: inline-block;
    }

    .search {
      width: 400px;
    }

    .dropdown {
      color: white;
      font-size: 24px;
    }
  }
}
