body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  overflow: overlay;
}

#app {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(116, 0, 35);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(163, 0, 49);
}
